*~
*.o
Makefile
*.log
*.status
*.in
.dirstamp
/aclocal.m4
/compile
/config.h
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
/autom4te.cache/
.deps/
/src/dh-exec
/src/dh-exec-subst
/src/dh-exec-install
/src/dh-exec-illiterate
/src/dh-exec-strip
core
/debian/autoreconf.*
*.substvars
/debian/*.debhelper
/debian/dh-exec/
/debian/files
/t/pkg-test_*
/t/pkg-test/debian/pkg-test/
/t/pkg-test/debian/pkg-test-illiterate/
/t/pkg-test/debian/files
/debian/build-tree/
/t/tmp*
/debian/debhelper-build-stamp
