*~
*.o
Makefile
*.log
*.status
*.in
/aclocal.m4
/config.h
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/autom4te.cache/
.deps/
/src/dh-exec
/src/dh-exec-subst
/src/dh-exec-install
core
/debian/autoreconf.*
/debian/*substvars
/debian/*.debhelper
/debian/dh-exec/
/debian/files
